body {
  background:green;
}
h1 {
  background:;
  font-size:45px;
  color:green;
  
  
  padding:10%;
  border:5px purple;
  margin:11%;
}

h2 {
  background:blue;
  font-size:;
  color:green;
  
  
  padding:;
  border:;
  margin:;
}

img {
  height:200px;
  width:200px;
  
  padding:10;
  border:10;
  margin:10;
  
}

p {
  
  
